<footer class="main-footer">
    <div class="footer-content">
      <div class="footer-logo">
        <h2>Plataforma Estudiantil</h2>
        <p>Tu plataforma educativa confiable.</p>
      </div>

  
      <div class="footer-social">
        <h3>Contacto</h3>
        <div class="social-icons">
          <a href="https://www.facebook.com/ezequiel.enrique.7/" aria-label="Facebook">
            <i class="fab fa-facebook"></i>
          </a>
          <a href="https://x.com/ezenrique8" aria-label="X">
            <i class="fab fa-twitter"></i>
          </a>
          <a href="https://www.instagram.com/ezequiel_enrique8/?next=%2F" aria-label="Instagram">
            <i class="fab fa-instagram"></i>
          </a>
          <a href="https://www.linkedin.com/in/ezequiel-enrique-a58073233/" aria-label="LinkedIn">
            <i class="fab fa-linkedin"></i>
          </a>
        </div>
      </div>
    </div>
  
    <div class="footer-bottom">
      <p>&copy; 2024 Plataforma Estudiantil. Todos los derechos reservados.</p>
    </div>
  </footer>
  